<header class="main-header">
	<div class="wrapper-header cf">
		<div class="fl">
			<div class="logo"><a href=""><img src="img/logo.png" alt="LoftSchool"></a></div>
		</div>
		<div class="fr">
			<div class="social">
				<a href="https://www.facebook.com/profile.php?id=100009009076066" target="_blank"><i class="sprite sprite-icon-fb"></i></a>
				<a href="http://vk.com/steshenkoden" target="_blank"><i class="sprite sprite-icon-vk"></i></a>
				<a href="https://twitter.com/SteshenkoDan" target="_blank"><i class="sprite sprite-icon-tw"></i></a>
				<a href="https://github.com/Dan-Ste" target="_blank"><i class="sprite sprite-icon-gh"></i></a>
			</div>
		</div>
	</div>
	</header><!-- /header -->