.container-fluid {
	padding-top: 71px;
}
.container {
	width: 720px;
	padding: 22px 40px 0;
}
.card {
	margin-bottom: 22px;
}
.sidebar {
	clear: both;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 22px;
}
.content {
	float: none;
	width: 100%;
	margin: 0 auto;
}
.main-nav {
	display: none;
}