/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}
html, body {
	height: 100%;
}
html {
	font-size: 62.5%;
}
body {
	font-family: 'open_sansregular', sans-serif;
	font-weight: normal;
	font-style: normal;
}
.container-fluid {
	position:relative;
	min-height:100%;
	height:auto!important;
	overflow:hidden;
	padding-top: 97px;
	&:after {
	content: "";
	height: 80px;
	display: block;
	}
}
.backgroundsize .container-fluid {
	background: url(../../img/bg-main.jpg) no-repeat center center;
	background-size: cover;
}
.no-backgroundsize .container-fluid {
	background-color: #f1e49e;
}
.container {
	width: 1040px;
	margin: 0 auto;
	padding: 35px 40px 0 40px;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
*, *:after, *:before {
	box-sizing: border-box;
}
img {
	max-width: 100%;
}
a {
	text-decoration: none;
}
ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
strong, h1, h2, h3, h4, h5, h6  {
	font-family: 'open_sanssemibold', sans-serif;
	font-weight: 400;
	font-style: normal;
}


.content {
	width: 650px;
}

.card {
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	overflow: hidden;
	color: #727070;
	margin-bottom: 35px;
		
	.info {
		box-sizing: content-box;
		position: relative;
		background-color: white;
		background-image: linear-gradient( to top, #f0eeed, #fafaf9);
		box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1),inset 3px 5.196px 6px 0px rgba(255, 255, 255, 0.004);
		padding: 40px;
		padding-bottom: 35px;
		border-bottom-left-radius: 6px;
		border-bottom-right-radius: 6px;
		border: 1px solid #b6b6b6;
		border-top: none;
	}

	.wrapper-title {
		width: 100%;
		background-color: #8f8d8d;
		background-image: linear-gradient( to top, #7b7979, #a9a7a7);
		box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3);
		border-width: 1px;
		border-style: solid;
		border-image: linear-gradient(to top, #636363, #9c9c9c) 1 10%;
		border-top-left-radius: 6px;
		border-top-right-radius: 6px;
		.title-info {
			margin: 0;
			padding: 15px 0 19px 42px;
			font-size: 24px;
			font-size: 2.4rem;
			font-weight: 600;
			color: #eeedec;
			line-height: 0.917;
			text-align: left;
			text-shadow: 0px 1px 1px #666565;
		}
	}
}