.main-header {
	height: 72px;
	.wrapper-header {
		min-width: 320px;
	}
	.fl {
		.logo {
			width: 66px;
			margin: 8px 0;
		}
	}
	.fr {
		.social {
			padding: 13px 0 12px;
		}
		.burger-menu {
			display: inline-block;
		}
	}
}