
/* Content */
.card.about {
	.info {
		padding-top: 32px;
	}
}
.wrapper-avatar {
	display: inline-block;
	vertical-align: middle;
	width: 24.7%;
	.avatar {
		width: 153px;
		height: 153px;
		padding: 10px;
		border-radius: 50%;
		box-shadow: 0 0 2px rgba(121, 121, 121, 0.8);
		background-image: linear-gradient( to top, #f3f2f0, #f6f5f5);
		overflow: hidden;
		img {
			border-radius: 50%;
		}
	}
}

.whoami {
	display: inline-block;
	vertical-align: top;
	width: 67%;
	margin-left: 42px;
	font-size: 14px;
	font-size: 1.4rem;
	.left, .right {
		display: inline-block;
		vertical-align: top;
	}
	.left {
		margin-right: 5px;
	}
	.about-info {
		margin-bottom: 5px;
	}
	.skills {
		display: inline-block;
		position: relative;
		margin: 0;
		margin-top: 10px;
		.left {
			margin-right: 13px;
		}
		.right {
			float: right;
			width: 230px;
			margin-top: 5px;
		}
	}
}
.label {
	position: relative;
	display: inline-block;
	vertical-align: top;
	padding: 2px 6px 2px 4px;
	margin: 0 10px 10px 5px;
	font-family: 'open_sanssemibold', sans-serif;
	font-size: 9px;
	font-size: 0.9rem;
	text-transform: uppercase;
	color: #1E7465;
	border: 1px solid #d5d5d5;
	border-bottom-width: 2px;
	border-left: none;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	background-color: white;
	background: linear-gradient(to top, #e9e6e4 0%, #fbf9f9 94%, #ffffff 100%);
	box-shadow: 0px 0px 1px 1px rgba(9, 9, 9, 0.07),inset 0px -2px 3px 0px rgba(41, 41, 41, 0.05);
}

.cssgradients .label {
	&:before {
		content: "";
		position: absolute;
		width: 9px;
		height: 20px;
		top: -2px;
		left: -9px;
		background: url(../img/label.png) no-repeat center center;
	}
}
.no-cssgradients .label {
	border-radius: 4px;
	border-left: 1px solid #d5d5d5;
	margin-right: 5px;
}

.info {

	.list {
		position: relative;
		padding: 20px 0;
		&:first-child {
			padding-top: 0;
		}
		&:last-child {
			padding-bottom: 0;
			&:after {
				display: none;
			}
		}
		&:after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			height: 2px;
			width: 100%;
			background: #edeceb;
			box-shadow: inset 0 1px 0 rgba(128, 128, 128, 0.29), 0 0 2px 2px rgba(251,251,251, 0.75);
		}
	}

	p {
		margin: 0;
	}

	.icon, .descr {
		display: inline-block;
		vertical-align: middle;
	}

	.descr {
		width: 83%;
		margin-left: -4px;
	}

	.icon {
		margin-right: 40px;
	}
}

.exp {
	font-size: 14px;
	font-size: 1.4em;
}
.graduate {
	font-size: 14px;
	font-size: 1.4em;
}


