



.sprite {
    background-image: url(../../img/icons_index.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-icon-case {
    width: 53px;
    height: 55px;
    background-position: -5px -5px;
}

.sprite-icon-curve {
    width: 10px;
    height: 38px;
    background-position: -68px -5px;
}

.sprite-icon-fb {
    width: 38px;
    height: 40px;
    background-position: -88px -5px;
}

.sprite-icon-fb:hover {
    width: 38px;
    height: 40px;
    background-position: -136px -5px;
}

.sprite-icon-file {
    width: 53px;
    height: 55px;
    background-position: -68px -55px;
}

.sprite-icon-gh {
    width: 38px;
    height: 40px;
    background-position: -131px -55px;
}

.sprite-icon-gh:hover {
    width: 38px;
    height: 40px;
    background-position: -5px -105px;
}

.sprite-icon-graduate {
    width: 53px;
    height: 55px;
    background-position: -131px -105px;
}

.sprite-icon-letter {
    width: 17px;
    height: 13px;
    background-position: -5px -170px;
}

.sprite-icon-pen {
    width: 53px;
    height: 55px;
    background-position: -184px -5px;
}

.sprite-icon-phone {
    width: 17px;
    height: 22px;
    background-position: -5px -70px;
}

.sprite-icon-skype {
    width: 20px;
    height: 20px;
    background-position: -32px -70px;
}

.sprite-icon-tw {
    width: 38px;
    height: 40px;
    background-position: -194px -70px;
}

.sprite-icon-tw:hover {
    width: 38px;
    height: 40px;
    background-position: -53px -120px;
}

.sprite-icon-vk {
    width: 38px;
    height: 40px;
    background-position: -194px -120px;
}

.sprite-icon-vk:hover {
    width: 38px;
    height: 40px;
    background-position: -32px -170px;
}