/*sidebar */
.sidebar {
	width: 250px;
	margin-right: 710px;
}

.main-nav {
	margin-bottom: 35px;
	
	.nav {
		box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
		border-radius: 6px;
		overflow: hidden;
		li:first-child {
			.item {
				border-top-right-radius: 6px;
				border-top-left-radius: 6px;
			}
		}
		li:last-child {
			.item {
				border-bottom-right-radius: 6px;
				border-bottom-left-radius: 6px;
			}
		}
	}
}
.contacts-list {
	border-radius: 6px;
	overflow: hidden;
	box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.35);
	
	li:first-child {
			position: relative;
			z-index: 1000;
			border-top-right-radius: 6px;
			border-top-left-radius: 6px;
			box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
	}

	li:last-child {
		.contact {
			border-bottom-right-radius: 6px;
			border-bottom-left-radius: 6px;
			border-bottom: 1px solid #d6d5d3;
		}
		.contact-icon {
			&.sprite-icon-curve {
				left: 15px !important;
			}
		}
	}

	.contact {
		color: #727070;
		position: relative;
		font-size: 14px;
		font-size: 1.4rem;
		display: block;
		border: 1px solid #d6d5d3;
		border-bottom: none;
		background: linear-gradient(to top, #f6f5f5 0%, #fff 100%);
		
		&:hover {
			background: linear-gradient(to top, #f2e7d2 0%, #fff 100%);
			span {
				text-decoration: underline;
			}
		}

		.contact-icon, .contact-text {
			display: inline-block;
			vertical-align: middle;
		}

		.contact-icon {
			&.sprite-icon-phone, &.sprite-icon-letter, &.sprite-icon-skype {
				position: relative;
				left: 12px;
			}

			&.sprite-icon-curve {
				position: relative;
				left: 18px;
			}
		}

		.contact-text {
			position: relative;
			left: 25px;
		}
	}
}

.item {
	display: block;
	background: linear-gradient(to top, #e9e6e5 0%, #fbf9f9 94%, white 100%);
	border-top: 1px solid #d2d2d2;
	border-bottom: 1px solid #c5c5c5;
	border-right: 1px solid #b8b8b8;
	border-left: 1px solid #b8b8b8;
	box-shadow: inset 1px 1px 5px 0 #f6f7f7;
	
	.title-list {
		margin: 0;
		padding: 12px 0 12px 28px;
		font-size: 20px;
		font-size: 2rem;
		font-weight: 600;
		color: #727070;
		text-align: left;
		text-shadow: 0.5px 0.866px 0px rgba(255, 255, 255, 0.75);
	}

	&.item-green {
		background-image: linear-gradient( to top, #3eb799, #7ee8ce);
		box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3);
		border-width: 1px;
		border-image: linear-gradient(to top, #2fa185, #66dbbe) 1 10%;
		border-top-left-radius: 6px;
		border-top-right-radius: 6px;
		.title-list {
			color: #1E7465;
			text-shadow: 0.5px 0.866px 0px rgba(255, 255, 255, 0.35);
		}
	}

	&:not(.item-active):hover {
		box-shadow: inset 0px -2px 3px 0px rgba(41, 41, 41, 0.05);
		background-image: linear-gradient(to top, rgb(197,197,197) 0%, rgb(227,225,225) 87%, rgb(230,228,228) 90%, rgb(232,231,231) 100%);
	}

	&.item-orange {
		background-image: linear-gradient( to top, #dcb15d 0%, #f4cc7e 90%);
		box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3);
		border-width: 1px;
		border-image: linear-gradient(to top, #caa152 0%, #cea34e 44%, #e7bf6f 90%) 1 10%;
		border-top-left-radius: 6px;
		border-top-right-radius: 6px;
		.title-list {
			padding: 6px 0 6px 28px;
			color: #d0982c;
			text-shadow: 0.5px 0.866px 0px rgba(255, 255, 255, 0.4);
		}
	}
}





/* Content */
.content {
	width: 650px;
	
	.info {
		margin-bottom: 35px;
	}
}

.about {
	.wrapper-avatar {
		display: inline-block;
		vertical-align: middle;
		width: 24.7%;
		.avatar {
			width: 135px;
			height: 135px;
			padding: 10px;
			border-radius: 50%;
			box-shadow: 0 0 2px rgba(121, 121, 121, 0.8);
			background-image: linear-gradient( to top, #f3f2f0, #f6f5f5);
			overflow: hidden;
			img {
				border-radius: 50%;
			}
		}
	}

	.whoami {
		display: inline-block;
		vertical-align: top;
		width: 68.4%;
		margin-left: 35px;
		font-size: 14px;
		font-size: 1.4rem;
		.left, .right {
			display: inline-block;
			vertical-align: top;
		}
		.left {
			margin-right: 5px;
		}
		li {
			margin-bottom: 5px;
		}
		.skills {
			display: inline-block;
			position: relative;
			margin: 0;
			margin-top: 10px;
			.left {
				margin-right: 10px;
			}
			.right {
				float: right;
				width: 230px;
				margin-top: 1px;
			}
		}
		.label {
			position: relative;
			display: inline-block;
			vertical-align: top;
			padding: 2px 6px 2px 4px;
			margin: 0 10px 10px 5px;
			font-family: 'open_sanssemibold', sans-serif;
			font-size: 9px;
			font-size: 0.9rem;
			text-transform: uppercase;
			color: #1E7465;
			border: 1px solid #d5d5d5;
			border-bottom-width: 2px;
			border-left: none;
			border-top-right-radius: 4px;
			border-bottom-right-radius: 4px;
			background: linear-gradient(to top, #e9e6e4 0%, #fbf9f9 94%, #ffffff 100%);
			box-shadow: 0px 0px 1px 1px rgba(9, 9, 9, 0.07),inset 0px -2px 3px 0px rgba(41, 41, 41, 0.05);

			&:before {
				content: "";
				position: absolute;
				width: 9px;
				height: 20px;
				top: -2px;
				left: -9px;
				background: url(../../img/label.png) no-repeat center center;
			}
		}
	}
}

.button_back {
  background-image: -moz-linear-gradient( 90deg, rgb(233,230,228) 0%, rgb(251,249,249) 94%, rgb(255,255,255) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(233,230,228) 0%, rgb(251,249,249) 94%, rgb(255,255,255) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(233,230,228) 0%, rgb(251,249,249) 94%, rgb(255,255,255) 100%);
  box-shadow: 0px 2px 1px 0px rgba(9, 9, 9, 0.07),inset 0px -2px 3px 0px rgba(41, 41, 41, 0.05);
  position: absolute;
  left: 903px;
  top: 334px;
  width: 47px;
  height: 17px;
  z-index: 81;
}

.info {

	.list {
		position: relative;
		padding: 20px 0;
		&:first-child {
			padding-top: 0;
		}
		&:last-child {
			padding-bottom: 0;
			&:after {
				display: none;
			}
		}
		&:after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			height: 2px;
			width: 100%;
			background: #edeceb;
			box-shadow: inset 0 1px 0 rgba(128, 128, 128, 0.29), 0 0 2px 2px rgba(251,251,251, 0.75);
		}
	}

	p {
		margin: 0;
	}

	.icon, .descr {
		display: inline-block;
		vertical-align: middle;
	}

	.descr {
		width: 83%;
		margin-left: -4px;
	}

	.icon {
		margin-right: 40px;
	}
}

.exp {
	font-size: 14px;
	font-size: 1.4em;
}
.graduate {
	font-size: 14px;
	font-size: 1.4em;
}














.sprite {
	background-image: url(../../img/icons_index.png);
	background-repeat: no-repeat;
	display: inline-block;
}

.sprite-circle-insert {
	width: 54px;
	height: 55px;
	background-position: -5px -5px;
}

.sprite-icon-case {
	width: 53px;
	height: 55px;
	background-position: -69px -5px;
}

.sprite-icon-curve {
	width: 10px;
	height: 38px;
	background-position: -132px -5px;
}

.sprite-icon-fb {
	width: 38px;
	height: 40px;
	background-position: -152px -5px;
}

.sprite-icon-fb:hover {
	width: 38px;
	height: 40px;
	background-position: -132px -55px;
}

.sprite-icon-file {
	width: 53px;
	height: 55px;
	background-position: -5px -105px;
}

.sprite-icon-gh {
	width: 38px;
	height: 40px;
	background-position: -68px -105px;
}

.sprite-icon-gh:hover {
	width: 38px;
	height: 40px;
	background-position: -116px -105px;
}

.sprite-icon-graduate {
	width: 53px;
	height: 55px;
	background-position: -200px -5px;
}

.sprite-icon-letter {
	width: 17px;
	height: 13px;
	background-position: -5px -70px;
}

.sprite-icon-lock {
	width: 24px;
	height: 22px;
	background-position: -32px -70px;
}

.signIn:hover {
	.sprite-icon-lock {
		width: 24px;
		height: 22px;
		background-position: -61px -70px;
	}
}

.sprite-icon-pen {
	width: 53px;
	height: 55px;
	background-position: -180px -70px;
}

.sprite-icon-phone {
	width: 17px;
	height: 22px;
	background-position: -95px -70px;
}

.sprite-icon-skype {
	width: 20px;
	height: 20px;
	background-position: -243px -70px;
}

.sprite-icon-tw {
	width: 38px;
	height: 40px;
	background-position: -164px -135px;
}

.sprite-icon-tw:hover {
	width: 38px;
	height: 40px;
	background-position: -212px -135px;
}

.sprite-icon-vk {
	width: 38px;
	height: 40px;
	background-position: -5px -185px;
}

.sprite-icon-vk:hover {
	width: 38px;
	height: 40px;
	background-position: -53px -185px;
}
